.Packages {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 1700px;
}

.Packages .bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

@media (max-width: 1580px) {
  .Packages {
    min-height: 1650px;
  }
}

@media (max-width: 1388px) {
  .Packages {
    height: 2150px;
  }
}

@media (max-width: 880px) {
  .Packages {
    height: 4290px;
    padding: 20px 0;
  }
}
