.package {
  margin: 0;
  padding: 0;
  background-image: url("https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?auto=format&fit=crop&q=80&w=2000");
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  gap: 20px;
  color: white;
}

/* Customizing the Phone Input */
.react-tel-input .form-control {
  width: 100% !important;
  height: 50px !important;
  background: #f4f4f6 !important;
  border: none !important;
  border-radius: 8px !important;
  font-size: 16px !important;
  color: #555 !important;
}

.phone-input {
  align-items: center;
  color: black;
}
.react-tel-input .flag-dropdown {
  background: transparent !important;
  border: none !important;
  border-radius: 8px 0 0 8px !important;
}

/* The Button Styling */
.package-container button {
  width: 100%;
  margin-top: 15px;
  padding: 14px;
  border: none;
  border-radius: 8px;
  background-color: #7d7d8c; /* Matches your image's gray-purple */
  color: white;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.package-container button:hover {
  background-color: #000000;
}

.package-container p {
  margin: 5px 0;
  color: #333;
  font-weight: 500;
}
