.Main {
  margin: 0;
  padding: 0;
}

/* ---------- first-layer ---------- */
.Main .first-layer {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.Main .first-layer .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.Main .first-layer .content .hero-text {
  font-size: 70px;
  margin-bottom: 0;
  color: white;
}

.Main .first-layer .content .small-text {
  font-size: 50px;
  font-family: "Grape Nuts", cursive;
  margin-top: 5px;
  color: white;
  -webkit-text-stroke: 1px white;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.Main .first-layer .bottom-context {
  margin-top: 150px;
}

.Main .first-layer .bottom-context .Buy {
  font-size: 50px;
  font-family: "Grape Nuts", cursive;
  text-decoration: none;
  color: white;
  -webkit-text-stroke: 1px white;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

/* ---------- Second Layer ---------- */
.Main .second-layer {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Background image */
.Main .second-layer .background {
  width: 100%;
  max-width: 100%;
  height: 1000px;
  object-fit: cover;
}

/* Wrapper for title and destinations */
.Main .second-layer .sec-content {
  position: relative;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Title inside sec-content */
.Main .second-layer .sec-content .title {
  color: rgb(255, 255, 255);
  font-size: 50px;
  font-family: "Grape Nuts", cursive;
  text-align: center;
  margin-top: -890px;
}

/* Destinations container inside sec-content */
.Main .second-layer .sec-content .Destinations {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px;
  gap: 40px;
}

/* Individual destination card */
.Main .second-layer .sec-content .Destinations .Destination {
  width: 365px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Destination image */

.Main .second-layer .sec-content .Destinations .Destination .img-container {
  margin-bottom: 0;
  width: 365px;
  height: 342px;
  object-fit: cover;
}
.Main
  .second-layer
  .sec-content
  .Destinations
  .Destination
  .img-container
  .img {
  width: 365px;
  height: 342px;
  object-fit: cover;
}

/* Destination content card */
.Main
  .second-layer
  .sec-content
  .Destinations
  .Destination
  .Destination-content {
  width: 365px;
  height: 123px;
  background-color: white;
  display: flex;
  align-items: center;
  gap: 20px;
}

.Main
  .second-layer
  .sec-content
  .Destinations
  .Destination
  .Destination-content
  .text-container {
  margin-left: 19px;
  margin-right: 19px;
}
/* Destination text */
.Main
  .second-layer
  .sec-content
  .Destinations
  .Destination
  .Destination-content
  .text-container
  .name {
  font-family: "Grape Nuts", cursive;
  margin-bottom: 0;
  font-size: 24px;
}

.Main
  .second-layer
  .sec-content
  .Destinations
  .Destination
  .Destination-content
  .text-container
  .text {
  margin-top: 3px;
  width: 250px;
  font-size: 16px;
}

.Main
  .second-layer
  .sec-content
  .Destinations
  .Destination
  .Destination-content
  .price {
  display: flex;
  font-size: 20px;
}
/* ---------- Third Layer ---------- */
.Main .third-layer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

/* ---------- Fourth Layer ---------- */
.Main .fourth-layer {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 1000px;
}

/* Background image */
.Main .fourth-layer .background {
  width: 100%;
  height: 1000px;
  object-fit: cover;
}

/* Content wrapper */
.Main .fourth-layer .fourth-content {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

/* Title */
.Main .fourth-layer .fourth-content .title {
  font-size: 50px;
  font-family: "Grape Nuts", cursive;
  color: white;
  margin-bottom: 50px;
}

/* Boxes inside features */
.Main .fourth-layer .fourth-content .features {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

/* Individual box */
.Main .fourth-layer .fourth-content .features .box {
  width: 250px;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  justify-content: center;
  align-items: center;
  font-family: "Grape Nuts", cursive;
  font-size: 18px;
  text-align: center;
  border-radius: 10px;
  padding: 5px 50px 5px 50px;
  font-size: 25px;
}

.Main .fourth-layer .fourth-content .features .box .icon {
  margin-bottom: 5px;
}

.Main .fourth-layer .fourth-content .features .box .servise {
  margin-top: 5px;
  margin-bottom: 40px;
}
.Main .fourth-layer .fourth-content .features .box  .text {
  margin-top: 0;
  margin-left: 65px;
}

/* ---------- Fifth Layer ---------- */

.Main .fifth-layer {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 1000px;
}
/* Background image */
.Main .fifth-layer .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
/* Content wrapper */
.Main .fifth-layer .fifth-content {
  position: relative;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Main .fifth-layer .fifth-content .title {
  color: rgb(255, 255, 255);
  font-size: 50px;
  font-family: "Grape Nuts", cursive;
  text-align: center;
  margin-bottom: 5px;
}
.Main .fifth-layer .fifth-content .Adventures {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 70px;
  gap: 40px;
}

/* Individual Main-Adventure card */
.Main .fifth-layer .fifth-content .Adventures .Main-Adventure {
  width: 365px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Main-Adventure image */

.Main .fifth-layer .fifth-content .Adventures .Main-Adventure .img-container {
  margin-bottom: 0;
  width: 500px;
  height: 600px;
  object-fit: cover;
}
.Main
  .fifth-layer
  .fifth-content
  .Adventures
  .Main-Adventure
  .img-container
  .img {
  width: 500px;
  height: 600px;
  object-fit: cover;
}

/* Main-Adventure content card */
.Main
  .fifth-layer
  .fifth-content
  .Adventures
  .Main-Adventure
  .Main-Adventure-content {
  width: 465px;
  height: 104px;
  padding: 0 17px 0 18px;
  background-color: white;
  display: flex;
  align-items: center;
}

.Main
  .fifth-layer
  .fifth-content
  .Adventures
  .Main-Adventure
  .Main-Adventure-content
  .text-container {
  margin: 0;
}
/* Main-Adventure text */
.Main
  .fifth-layer
  .fifth-content
  .Adventures
  .Main-Adventure
  .Main-Adventure-content
  .text-container
  .name {
  font-family: "Grape Nuts", cursive;
  margin-bottom: 0;
  font-size: 24px;
}

.Main
  .fifth-layer
  .fifth-content
  .Adventures
  .Main-Adventure
  .Main-Adventure-content
  .text-container
  .text {
  width: 390px;
  margin-top: 3px;
  font-size: 16px;
}

.Main .fifth-layer .fifth-content .Adventures .Adventure-container {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  justify-content: space-between;
  row-gap: 20px;
}

/* Individual Adventure card */
.Main .fifth-layer .fifth-content .Adventures .Adventure-container .Adventure {
  width: 365px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 100px;
}

/* Adventure image */

.Main
  .fifth-layer
  .fifth-content
  .Adventures
  .Adventure-container
  .Adventure
  .img-container {
  margin-bottom: 0;
  width: 400px;
  height: 238px;
  object-fit: cover;
}
.Main
  .fifth-layer
  .fifth-content
  .Adventures
  .Adventure-container
  .Adventure
  .img-container
  .img {
  width: 400px;
  height: 238px;
  object-fit: cover;
}

/* Adventure content card */
.Main
  .fifth-layer
  .fifth-content
  .Adventures
  .Adventure-container
  .Adventure
  .Adventure-content {
  width: 400px;
  height: 104px;
  background-color: white;
  display: flex;
  align-items: center;
}

.Main
  .fifth-layer
  .fifth-content
  .Adventures
  .Adventure-container
  .Adventure
  .Adventure-content
  .text-container {
  margin-left: 19px;
  margin-right: 19px;
}
/* Adventure text */
.Main
  .fifth-layer
  .fifth-content
  .Adventures
  .Adventure-container
  .Adventure
  .Adventure-content
  .text-container
  .name {
  font-family: "Grape Nuts", cursive;
  margin-bottom: 0;
  font-size: 24px;
}

.Main
  .fifth-layer
  .fifth-content
  .Adventures
  .Adventure-container
  .Adventure
  .Adventure-content
  .text-container
  .text {
    width: 380px;
  margin-top: 3px;
  font-size: 16px;
}
