.Nav-bar {
  position: absolute;
  top: 20px;
  left: 50px;
  right: 50px;
  z-index: 10;
}

.Nav-bar .Links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Nav-bar .Links .social {
  display: flex;
  gap: 15px;
}

.Nav-bar .Links .social a {
  color: white;
  font-size: 24px;
}

.Nav-bar .Links .contact {
  display: flex;
  flex-direction: row;
  gap: 15px;
  text-align: right;
  color: white;
  align-items: center;
}

.Nav-bar .Links .contact p {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 0;
}

.Nav-bar .Links .contact .Icon {
  color: white;
  font-size: 20px;
}

.Nav-bar .Pages {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 100px;
}
.Nav-bar .Pages a {
  color: white;
  font-size: 25px;
  text-decoration: none;
}

.Nav-bar .res-icon {
  display: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .Nav-bar .res-icon {
    display: block;
    font-size: 24px;
    color: white;
  }
  .Nav-bar .Pages,
  .Nav-bar .Links .social,
  .Nav-bar .Links .contact {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: absolute;
    width: 300px;
    height: 60vh;
    top: -800px;
    left: -15px;
    z-index: 10;
  }
  .Nav-bar .Pages a,
  .Nav-bar .Links .social a,
  .Nav-bar .Links .contact {
    color: black;
  }
  .Nav-bar .Pages.active {
    top: 50%;
  }
}
