.Footer {
  width: 100%;
  padding: 0;
  background: transparent;
  margin-top: -90px;
  position: relative;
  z-index: 5;
}

.Footer .Pages {
  display: flex;
  justify-content: center;
  gap: 120px;
}

.Footer .Pages a {
  color: white;
  font-size: 26px;
  text-decoration: none;
}

.Footer .text {
  text-align: center;
  color: white;
  margin-top: 12px;
  font-size: 14px;
}
