.main {
  margin: 0;
  padding: 0;
  background-image: url("https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?auto=format&fit=crop&q=80&w=2000");
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.main .error {
  width: 90%;
  margin: 250px auto;
  height: 45vh;
}

.main .error .text {
  text-align: center;
}
.main .error .text .not-found {
  font-size: 8rem;
  color: #ffffff;
  margin-bottom: 10px;
}
.main .error .text .back-home-page {
  margin-bottom: 100px;
}
.main .error .text .back-home-page {
  text-decoration: none;
  padding: 15px 40px 15px 40px;
  background-color: rgb(255, 0, 0);
  color: white;
  font-size: 1.3rem;
  font-weight: 700px;
  cursor: pointer;
  border-radius: 5px;
}

.main .error .text .back-to-home {
  margin-bottom: 50px;
}
